.container{
    width: 100%;
}
.navbar{
    right: 0;
    top: 0;
    width: 100%;
    height: 3rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: 'Montserrat', sans-serif;
}

.navbar h1{
    display: inline;
    margin: auto;
    font-weight: 500;
    font-size: 35px;
    cursor: pointer;
    text-decoration: none;
    
}
#logo-tag{
    text-decoration: none;
    color: black;
}

#logo-tag:hover{
    color: rgb(255, 102, 0);
    transition: all 0.3s ease;
}

.navbar .user-icon{
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 20px;
    color: black;
    cursor: pointer;
}

.navbar ul{
    list-style: none;
}
.navbar ul li{
    font-size: 20px;
    line-height: 2rem;
    font-weight: 500;
    display:inline-block ;
    padding: 0 50px;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
}

.navbar ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: rgb(255, 102, 0);
    transition: all 0.5s ease;
}


.navbar ul li a:hover{
    color: rgb(255, 102, 0);
    transition: 0.5s;
}
.navbar ul li a:hover::after{
    
    width: 100%;
}


.dropdown-menu ul{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    width: 90px;
    float: right;
    /* margin-right: 2px;  */
    list-style: none;
    transition: all 1s ease-in-out;
    
}
.dropdown-menu ul li{
    /* border: 1px solid rgba(0, 0, 0, 0.323); */
    padding: 5px 0px;
    display: block;
}
.dropdown-menu ul li a{
    
    color: black;
    text-decoration: none;
}

.dropdown-menu ul li a:hover{
    color: rgb(255, 102, 0);
}

@media only screen and (max-width: 768px) {
    
    .navbar{
        right: 0;
        top: 0;
        width: 100%;
        height: 3rem;
        padding: 0;
        display: flex;
    
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        font-family: 'Montserrat', sans-serif;
    }
    #logo-tag{
        margin-left: -10px;
        text-decoration: none;
        color: black;
    }
    .dropdown-menu{
        position: absolute;
        right: 0;
        z-index: 99;
    }
    .dropdown-menu ul{
        padding: 5px 10px ;
        float: right;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 90px;
        list-style: none;
        transition: all 1s ease-in-out;    
    }
    .navbar h1{
        margin-left: 35%;
        font-size: 40px;
        cursor: pointer;
    }
    .navbar .user-icon{
        /* float: right; */
        width: 25px;
        height: 25px;
        margin-left: 50px;
        /* margin-right: 20px; */
        color: black;
    }
  }